:root {
  --font-family: "Lato", sans-serif;
  --second-family: "Red Hat Display", sans-serif;
  --gray: #565656;
}

html {
  font-family: var(--font-family);
  line-height: 166%;
  letter-spacing: 0.05em;
  color: var(--gray);

}