:root {
  --font-family: "Lato", sans-serif;
  --second-family: "Red Hat Display", sans-serif;
  --gray: #565656;
}

html {
  font-family: var(--font-family);
  line-height: 166%;
  letter-spacing: 0.05em;
  color: var(--gray);

}

body {
  margin: 0;
}

h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

:link,
:visited {
  text-decoration: none;
  color: inherit;
}

.header .container {
  display: flex;
  align-items: center;
  padding: 40px 0;
  gap: 84px;

  .logo {
    margin-right: auto;
  }

  ul {
    display: flex;
    gap: 42px;
  }

  .burger {
    width: 34px;
    height: 22px;
    background-image:repeating-linear-gradient(black 0, black 2px, transparent 2px, transparent 10px);
    display: none;
  }
}

.hero {
  height: 600px;

  h2 {
    max-width: 770px;
  }

  img {
    width: 100%;
    height: 100%;
    margin-bottom: -600px;
    object-fit: cover;
    object-position: bottom;
  }
}

.blog .container{

  >div {
    display: flex;
    gap: 30px;
    margin-top: 50px;

    &:last-child {
      flex-direction: row-reverse;;
    }
  }
}

.posts .container {

  header {
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
}

.popular .container {
  header {
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
  
  >button {
    display: block;
    margin: auto;
    width: max-content;

  }
}

.info .container {
  display: flex;
  justify-content: space-between;
}

footer .container {
  >div {
    display: flex;
    justify-content: space-between;
    
    a {
      display: block;
    }

    ul {
      display: flex;
      gap: 30px;
    }
  }
 

  p {
    text-align: center;
  }


}

@media (max-width: 1200px) {
  .container {
    max-width: unset;
    padding: 0 34px;
  }

  .header .container {
    nav {
      display: none;
    }

    .burger {
      display: unset;
    }
  }
  .blog .container {
    >div {
      gap: 20px;

      >* {
        width: calc(50% - 10px);
      }
    }
  }

  .posts .container {
    ul {
      display: unset;

      li {
        display: flex;

        &:nth-child(2n) {
          flex-direction: row-reverse;
        }
      }
    }
  }

  .popular .container {
    ul {
      gap: 20px;

      li {
        width: calc(50% - 10px);

        img {
          width: 100%;
        }
      }
    }
  }

  .info .container {
    display: grid;
    
    >:last-child {
      text-align: right;
    }
  }

  footer .container {
    >div {
      display: unset;
      text-align: center;

      ul {
        justify-content: center;
      }
    }
  }
}


@media (max-width: 760px) {
  .container {
    padding: 0 10px;
  }

  .blog .container {
    >div {
      display: unset;
    }
  }

  .posts .container {
    ul li {
      display: unset;
    }
  }

  .popular .container {
    ul {
      display: unset;
    }
  }

  .info .container {
    >div:last-child {
      text-align: unset;
    }
  }
}
