:root {
  --font-family: "Lato", sans-serif;
  --second-family: "Red Hat Display", sans-serif;
  --gray: #565656;
}

html {
  font-family: var(--font-family);
  line-height: 166%;
  letter-spacing: 0.05em;
  color: var(--gray);

}

body {
  margin: 0;
}

h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

:link,
:visited {
  text-decoration: none;
  color: inherit;
}

.header .container {
  display: flex;
  align-items: center;
  padding: 40px 0;
  gap: 84px;

  .logo {
    margin-right: auto;
  }

  ul {
    display: flex;
    gap: 42px;
  }
}

.hero {
  height: 600px;

  h2 {
    max-width: 770px;
  }

  img {
    width: 100%;
    height: 100%;
    margin-bottom: -600px;
    object-fit: cover;
    object-position: bottom;
  }
}

.blog .container{

  >div {
    display: flex;
    gap: 30px;
    margin-top: 50px;

    &:last-child {
      flex-direction: row-reverse;;
    }
  }
}

.posts .container {

  header {
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
}

.popular .container {
  header {
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
  
  >button {
    display: block;
    margin: auto;
    width: max-content;

  }
}

.info .container {
  display: flex;
  justify-content: space-between;
}

footer .container {
  >div {
    display: flex;
    justify-content: space-between;
    
    a {
      display: block;
    }

    ul {
      display: flex;
      gap: 30px;
    }
  }
 

  p {
    text-align: center;
  }


}